.bg{
    background: #C1CDCF;
}

.letras1{
    color: #1A1E26;
    font-family: 'Varela Round', sans-serif;
}

.letrasdiv{
    font-family: 'Mukta', sans-serif;
}
.letras2{
    color: #D8352F;
}
.letras{
    color: #343A40;
    font-family: 'Mukta', sans-serif;
}